<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>456570202044-i73adii3qce60cecch0l0ifituj39t1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456570202044-i73adii3qce60cecch0l0ifituj39t1h</string>
	<key>API_KEY</key>
	<string>AIzaSyAV91cdTAZTFiDbW71OB02g1fc4-1gvOOw</string>
	<key>GCM_SENDER_ID</key>
	<string>456570202044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.coolmint.WeatherLive</string>
	<key>PROJECT_ID</key>
	<string>weatherlive-1caac</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherlive-1caac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:456570202044:ios:0c46954c041019e9</string>
	<key>DATABASE_URL</key>
	<string>https://weatherlive-1caac.firebaseio.com</string>
</dict>
</plist>